/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself. It should be used with the max_memory, max_cpus and
 * max_time params for customising hardware limits
 */
process {
  cpus = { check_max( 1, 'cpus' ) }
  memory = { check_max( 1.GB * task.attempt, 'memory' ) }
  time = { check_max( 1.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'

  // Groupable resource requirements for processes
  withLabel:process_single {
    cpus = 1
    memory = { check_max( 100.MB * task.attempt, 'memory' ) }
    time = { check_max( 1.h * task.attempt, 'time' ) }
  }
  withLabel:process_low {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h * task.attempt, 'time' ) }
  }
  withLabel:process_medium {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h * task.attempt, 'time' ) }
  }
  withLabel:process_high {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
  }
  withLabel:process_long {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 20.h * task.attempt, 'time' ) }
  }
  withLabel:error_retry {
    errorStrategy = 'retry'
    maxRetries = 2
  }
  withLabel:error_ignore {
    errorStrategy = 'ignore'
  }
  withName:MQC_VERSIONS_TABLE {
    cache = false
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 32.GB
  max_cpus = 16
  max_time = '240.h'
}
