// Illumina subworkflow process configuration
process {
  withName: 'CHECK_SAMPLE_SHEET' {
    ext.args = ''
    publishDir = [
      [
        path: { "${params.tracedir}/" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
    ]
  }
  withName: 'BLAST_BLASTN' {
    publishDir = [
      [
        path: { "${params.outdir}/blast"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }
  withName: 'SUBTYPING_REPORT' {
    publishDir = [
      [
        path: { "${params.outdir}/"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }
  withName: 'CAT_ILLUMINA_FASTQ' {
    publishDir = [
      [
        path: { "${params.outdir}/fastq"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }
}
