// Nanopore subworkflow process configuration
process {
  withName: 'CAT_NANOPORE_FASTQ' {
    ext.args = ''
    publishDir = [
      [
        path: { "${params.outdir}/fastq" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
    ]
  }
  withName: 'BLAST_MAKEBLASTDB_REFDB' {
    ext.args  = '-dbtype nucl'
    publishDir = [
      [
        path: { "${params.outdir}/blast/db/ref_db" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }
  withName: 'BLAST_BLASTN_IRMA' {
    ext.args = '-outfmt "6 qaccver saccver pident length mismatch gapopen qstart qend sstart send evalue bitscore qlen slen qcovs stitle" -num_alignments 1000000 -evalue 1e-6'
    publishDir = [
      [
        path: { "${params.outdir}/blast/irma" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'BLAST_BLASTN_CONSENSUS' {
    publishDir = [
      [
        path: { "${params.outdir}/blast/consensus" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'BLAST_BLASTN_CONSENSUS_REF_DB' {
    publishDir = [
      [
        path: { "${params.outdir}/blast/against_ref_db" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'BCF_CONSENSUS' {
    publishDir = [
      [
        path: { "${params.outdir}/consensus/bcftools/${sample}" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'BCFTOOLS_STATS' {
    publishDir = [
      [
        path: { "${params.outdir}/variants/${sample}" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'CAT_CONSENSUS' {
    publishDir = [
      [
        path: { "${params.outdir}/consensus/bcftools/"},
        pattern: "*.consensus.fasta",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'COVERAGE_PLOT' {
    publishDir = [
      [
        path: { "${params.outdir}/coverage_plots/${sample}" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'MEDAKA' {
    publishDir = [
      [
        path: { "${params.outdir}/variants/${sample}" },
        pattern: "*.{vcf,log}",
        mode: params.publish_dir_mode
      ],
      [
        path: { "${params.outdir}/variants/${sample}/medaka"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode,
        enable: true
      ]
    ]
  }

  withName: 'CLAIR3' {
    publishDir = [
      [
        path: { "${params.outdir}/variants/${sample}"},
        pattern: "*.{vcf.gz,log}",
        mode: params.publish_dir_mode
      ],
      [
        path: { "${params.outdir}/variants/${sample}/clair3"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode,
        enable: true
      ]
    ]
  }

  withName: 'MINIMAP2' {
    publishDir = [
      [
        path: { "${params.outdir}/mapping/${sample}"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'MOSDEPTH_GENOME' {
    publishDir = [
      [
        path: { "${params.outdir}/mosdepth/${sample}"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'PULL_TOP_REF_ID' {
    publishDir = [
      [
        path: { "${params.outdir}/reference_sequences/${meta.id}"},
        pattern: "*.csv",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'CHECK_REF_FASTA' {
    publishDir = [
      [
        path: { "${params.outdir}/reference_sequences/"},
        pattern: "*.fasta",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'SEQTK_SEQ' {
    publishDir = [
      [
        path: { "${params.outdir}/reference_sequences/${sample}"},
        pattern: "*.fasta",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'SUBTYPING_REPORT_BCF_CONSENSUS' {
    publishDir = [
      [
        path: { "${params.outdir}/"},
        pattern: "*.{xlsx,log}",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'BLASTN_REPORT' {
    publishDir = [
      [
        path: { "${params.outdir}/mismatch_report"},
        pattern: "*.{xlsx}",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'SUBTYPING_REPORT_IRMA_CONSENSUS' {
    publishDir = [
      [
        path: { "${params.outdir}/irma"},
        pattern: "*.{xlsx,log}",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'VCF_FILTER_FRAMESHIFT' {
    publishDir = [
      [
        path: { "${params.outdir}/variants/${sample}" },
        pattern: "*.vcf",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'ZSTD_DECOMPRESS_.*' {
    publishDir = [
      [
        path: { "${params.outdir}/ncbi-influenza-db"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'READ_COUNT_FAIL_TSV' {
    publishDir = [
      [
        path: { "${params.outdir}/read_count" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'READ_COUNT_PASS_TSV' {
    publishDir = [
      [
        path: { "${params.outdir}/read_count" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

 withName: 'MULTIQC' {
   publishDir = [
     [
       path: { "${params.outdir}/MultiQC" },
       saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
       mode: params.publish_dir_mode
     ]
   ]
 }
}
