params {
  config_profile_name = 'Test Nanopore Profile'
  config_profile_description = 'Test pipeline with a real-world influenza virus sequencing; only works with GitHub Actions CI'

  // input samplesheet prepared in .github/workflows/ci.yml 
  max_cpus = 2
  max_memory = 6.GB
  max_time = '1.h'
}
