params {
  config_profile_name = 'Test Nanopore Profile'
  config_profile_description = 'Test pipeline with a real-world influenza virus sequencing'

  platform    = 'nanopore'

  input = "https://raw.githubusercontent.com/peterk87/nf-test-datasets/nf-iav-illumina/samplesheet/samplesheet_test_illumina_influenza.csv"
  max_cpus = 2
  max_memory = 6.GB
  max_time = '1.h'
}
