params {
  config_profile_name = 'Test Illumina Profile'
  config_profile_description = 'Test pipeline with a real-world influenza virus sequencing'

  irma_module = 'FLU-fast'

  input = "https://raw.githubusercontent.com/CFIA-NCFAD/nf-test-datasets/nf-flu/samplesheet/samplesheet_test_illumina_influenza.csv"
  max_cpus = 2
  max_memory = 6.GB
  max_time = '1.h'
  publish_dir_mode = 'symlink'
}
