// NOTE: For CI, the input samplesheet is specially prepared to test input reads specified as directories containing FASTQ files rather than just links/paths to sample reads.
params {
  config_profile_name = 'Nanopore test profile'
  config_profile_description = 'Test Nanopore workflow'

  input = "https://github.com/CFIA-NCFAD/nf-test-datasets/raw/nf-flu/samplesheet/samplesheet_test_nanopore_influenza.csv"
  platform = "nanopore"
  max_cpus = 2
  max_memory = 6.GB
  max_time = '1.h'
  publish_dir_mode = 'symlink'
}
